/* font-family: 'Righteous', cursive; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common par of all Start*/
section{
    margin-bottom:80px;
    
}
.container{
    margin: 0px 80px;
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
    font-size: 17px;
    color: white;
}
button{
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: rgb(56, 160, 82);
    margin: 20px 0px;
    padding: 10px 30px;
    transition: .5s;
}
button:hover{
    background: rgb(11, 11, 85);   
}
h1{
    font-size: 4em;
}
h2{
    font-size: 3em;
    color: rgb(8, 8, 80);
    text-align: center;
    margin-bottom: 50px;
}
h3{
    font-size: 1.7em;
    margin: 10px 0px 5px 0px;
    color: rgb(75, 72, 72);
}
p{
    line-height: 2em;
}
/* common par of all End */
#home{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: linear-gradient(rgba(14, 235, 235, 0.1), rgba(14, 235, 235, 0.4)), url(image/bg2.jpeg);
}
.nav-bar, li{
    line-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
}

nav ul li{
    margin-right: 50px;
    list-style: none;
}
nav ul li a{
    color: black
}
/* Navigation bar end */
.content{
    margin: 100px 0px;
  }
.content img{
  width:90%;
  height: auto;
}
strong{
    color: red;
}
span{
    color: rgb(56, 160, 82) ;
}
.text-field{
   margin-right: 15%;
}

/* about section start */
.icon img{
    width: 70px;
    height: 80px;
    margin-bottom: 40px;
}
.icon{
    width: 245px;
    height: 245px;
    background-color: rgb(228, 241, 241);
    padding: 30px;
    text-align: center;
    border-radius: 20px;
    transform-origin: center; /*kon bahu thake start hobe  */
    transition: transform .4s linear;
}
.icon:hover{
    transform: scale(1.2);
    background-color: white;
    box-shadow: 0px 0px 15px 2px rgb(201, 176, 176);
}
/* about section start */

/* online section start */
.course-card{
 width: 345px;
 height: 450px;
 border-radius: 0px 20px;
 box-shadow: 0px 0px 10px rgb(134, 129, 118);
 padding: 20px;
}
.course-card img{
    width: 100%;
    height: auto;
    border-radius: 20px;
}
.date-seat{
    display: flex;
    justify-content: space-between;
}
.course-card button{
    padding: 5px 20px;
}
i{
    font-size: 20px;
    margin: 10px;
}
/* online section End */

/* Testimonial Start*/
.testimonial{
    width: 60%;
    margin: auto;
    display: flex;
}
.test img{
    margin-right: 50px;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}
.testimonial p{
    padding-top: 3%;
}
/* Testimonial End*/
/* footer-section Start */
#footer-area{
    background-color: rgb(15, 4, 61);
}
#footer-area li a{
    font-size: 25px;
   color:white; 
   list-style: none;
   line-height: 2em;
}
li:first-child{
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.flex-grow{
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
}
/* footer-section End */
footer{
    padding: 30px 0px;
    text-align: center;
    color: rgb(173, 168, 168);
}
#footer-area {
    margin-bottom: 0px;
}

.footer-side{
    width: 30%;
}